.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.body {
    min-height: 100vh;

    /* background-image: linear-gradient(
        to left top,

        #08808a,
        #089274,
        #07ac6a
    ); */
}
.course_details {
    background-image: linear-gradient(to right, #89c3ac, #0ab775);
    height: 100vh;
}
.robotimg {
    width: 250px;
}
.star {
    color: #c1910f;
}
.btn-details {
    background-color: #028a56;
}
.btn-details:hover {
    background-color: #13b2ad;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.foot {
    background: linear-gradient(
        80deg,
        rgb(135, 221, 164) 40%,
        rgba(55, 162, 172) 78%
    );
}

.foot2 {
    background: linear-gradient(
        80deg,
        rgb(130, 218, 158) 40%,
        rgb(73, 168, 176) 78%
    );
}
.body {
    min-height: 100vh;
}

.bodyback {
    background: linear-gradient(
        80deg,
        rgb(232, 233, 232) 50%,
        rgb(72, 191, 202) 78%
    );
}
